{% extends 'base.html' %}

{% block content %}
    <div class="container my-4">
        <h1 class="mb-3">Currency Conversion</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="amount">Amount</label>
                {{ form.amount }}
            </div>
            <div class="form-group">
                <label for="base_currency">Base Currency</label>
                {{ form.base_currency }}
            </div>
            <div class="form-group">
                <label for="target_currency">Target Currency</label>
                {{ form.target_currency }}
            </div>
            <button type="submit" class="btn btn-primary">Convert</button>
        </form>
        {% if exchange_rate %}
            <div class="mt-3">
                <p>Exchange Rate: <span class="font-weight-bold">{{ exchange_rate }}</span></p>
                <p>Converted Amount: <span class="font-weight-bold">{{ converted_amount }}</span></p>
            </div>
        {% endif %}
    </div>
{% endblock %}

